footer {
    background-color: #353535;
    color: white;

    div {
        max-width: 1200px;
        margin: auto;

        @media (min-width:1000px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a {
            &:hover {
                color: #99e2d0;
            }
        }
        h2 {
            font-family: "Shrikhand",sans-serif;
            font-weight: 500;
        }
    
        p {
            font-size: 15px;
            margin: 0;
            font-weight: 300;
            padding: 5px 20px;

            i {
                margin-right: 5px;
            }
        }
    }
}