@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");


/* Wildcard & pseudo-element*/
*,
::before,
::after {
  box-sizing: border-box;
}

/* Gestion global H2 */
h2 {
    padding: 20px;
}

/* Global gestion des lien */
a {
    color: inherit;
    text-decoration: none;
}

/* Gestion Body */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* Header gestion */
header {
    font-family: "Shrikhand", cursive;
    text-align: center;
    border-bottom: 3px solid #cfcfcf;
}


                                    /* CITY */
.city {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    max-height: 60px;
}
.city i {
    font-size: 25px;
}
.city h2 {
    font-size: 15px;
}



                                    /* Explore */
.explore {
    text-align: center;
    flex-direction: column;
    background-color: #f6f6f6;
}
.explore h2 {
    margin: 1px;
    font-size: 25px;
}

.explore p {
    margin: 20px;
}

.explore button {
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    font-size: 15px;
    font-weight: bold; 
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s;
    margin-bottom: 40px;
    box-shadow: 2px 1px 15px -3px #363636;
}
.explore button:hover {
    opacity: 1;
    transform: scale(1.03);
}


                                    /* Fonctionnement */

.fontionnement {
    margin-bottom: 20px;
}

.fontionnement ol {
    display: flex;
    gap: 20px;
    border: 1px solid red;
    margin: 20px;
}

@media (max-width: 1000px) {
    .fontionnement ol {
      flex-direction: column;
    }
}

.fontionnement li {
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 7px -2px #464646;
    flex-grow: 1;
    list-style-type: none;
    padding: 15px 25px;
    cursor: pointer;
    transition: 0.5s;
}

.fontionnement i {
    margin: 10px;
    color: #7e7e7e;
    font-size: 20px;
}

.fontionnement li:hover {
    transform: scale(1.03);
    background-color: #f5edff;
}

.fontionnement li:hover i {
    color: #9356DC;
}




img {
    height: 120px;
    width: 120px;
}

                                    /* Footer */
footer {
    background-color: #363636;
    color: white;
}
footer h2 {
    font-family: "Shrikhand",sans-serif;
    font-weight: 500;
}
footer p {
    font-size: 15px;
    font-weight: 300;
    padding: 5px 20px;
}