/*Gestion Zone Meun Global*/
#menu {
    background-color: #f6f6f6;

    /*Gestion contenu Menu Global*/
    .menu-content {
        max-width: 1200px;
        margin: auto;
        position: relative;
    }
}

/*Gestion Liste Menu Global*/
.menu-list {
    display: grid;
    margin: 0 20px;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 10px;
  
    /*Gestion PC / Navigateur de la Liste*/
    @media (min-width:1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    /*Gestion Mobile / Tablette de la Liste*/
    @media (max-width:1000px) {
        margin: 0 20px -20px;
      }
}

/*Gestion des Cartes de chaque Menu*/
.menu-card {
    display: block;
    background-color: white;
    border-radius: 20px;
    position: relative;
    transition: 0.5s;
    margin-bottom: 20px;
    box-shadow: 2px 1px 5px -3px #363636;

    /*Gestion Hover de chaque Cartes*/
    &:hover {
        box-shadow: 2px 1px 15px -3px #363636;
    }
  
    /*Gestion des Images*/
    .menu-img {
        height: 200px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    
    /*Gestion Affichage "Nouveau" sur Cartes des menus*/
    span {
        position: relative;
        background-color: #99e2d0;
        color: #008766;
        padding: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
  
    /*Gestion description de chaque Cartes*/
    .menu-description {
        padding: 15px;
        position: relative;
        display: flex;
        align-items: center;
    }
    /*Gestion Contenu des cartes*/
    .menu-card-content {
      flex: 1;
    }
  
    /*Gestion Titre de chaque Cartes*/
    h3 {
        margin: 0;
        margin-bottom: 5px;
    }
  
    /*Gestion Description de chaque Cartes*/
    p {
      margin: 0;
    }
  
    /*Gestion Notation - Affichage Coeur*/
    .menu-notation {
        position: relative;

        /*Gestion Icon global Coeur*/
        i {
            position: absolute;
            font-size: 30px;
            right: 20px;
            top: -20px;
        }
        /*Gestion FAS Coeur version solid > afficher après hover*/
        .fas {
            opacity: 0;
            background-clip: text;
            color: transparent;
            -webkit-background-clip: text;
            transition: 250ms;

            /*Gestion Coeur en hover*/
            &:hover {
                opacity: 1;
                transform: scale(1.1);
                background-image: linear-gradient(to top, #9356DC, #FF79DA);
            }
        }
    }
}