// image au dessus restaurant
.head-restaurant {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.restaurants {
    position: relative;
    max-width: 1200px;
    margin: auto;

    .restaurant-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Shrikhand", cursive;

        .restaurant-heart {
            display: flex;
            position: relative;

            i {
                position: absolute;
                font-size: 30px;
                left: 20px;
                top: -15px;
            }
            .fas {
                opacity: 0;
                background-clip: text;
                color: transparent;
                -webkit-background-clip: text;
                transition: 250ms;
    
                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                    background-image: linear-gradient(to top, #9356DC, #FF79DA);
                }
            }
        }
    }

    .restaurant-menu {
        display: flex;
        margin-bottom: 20px;

        @media (max-width: 1000px) {
            flex-direction: column;
        }

        article {
            margin: 0 20px;
        }

        .restaurant-menu-item {
            display: flex;
            height: 80px;
            list-style: none;
            border-radius: 20px;
            box-shadow: 2px 2px 7px -2px #353535;
            cursor: pointer;
            transition: 0.5s;
            flex-grow: 1;
            flex-direction: column;
            justify-content: center;

            h4 {
                display: flex;
                font-size: 18px;
                margin: 0 10px 0 10px;
            }

            p {
                display: flex;
                justify-content: space-between;
                margin: 0 10px 0 10px;

                strong {
                    margin: 0 10px;
                }
            }

            &:hover {
                transform: scale(1.03);
                background-color: #f5edff;
            }
    
            &:hover i {
                color: #9356DC;
            }
        }
    }

    .button-commande {
        display: flex;
        justify-content: center;

        button {
            background-image: linear-gradient(to top, #9356DC, #FF79DA);
            font-size: 15px;
            font-weight: bold; 
            color: #ffffff;
            padding: 15px 25px;
            border-radius: 20px 20px 20px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.9;
            transition: 0.5s;
            margin-bottom: 20px;
            box-shadow: 2px 1px 15px -3px #353535;
    
            &:hover {
                opacity: 1;
                transform: scale(1.03);
            }   
        }

    }
}