@keyframes smooth {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


.head-restaurant {
    display: flex;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}


.restaurants {
    margin: auto;
    margin-top: -40px;
    border-radius: 20px;
    position: relative;
    max-width: 1200px;
    background-color: #f6f6f6;

    .restaurant-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Shrikhand", cursive;

        h2 {
            font-weight: 500;
        }

        .restaurant-heart {
            display: flex;
            position: relative;

            i {
                position: absolute;
                font-size: 30px;
                left: 20px;
                top: -15px;
            }
            .fas {
                opacity: 0;
                background-clip: text;
                color: transparent;
                -webkit-background-clip: text;
                transition: 250ms;
    
                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                    background-image: linear-gradient(to top, #9356DC, #FF79DA);
                }
            }
        }
    }

    .restaurant-menu {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;

        @media (max-width: 1000px) {
            flex-direction: column;
        }

        article {
            margin: 0 20px;
            position: static;

            h3 {
                display: flex;
                margin-bottom: 40px;
                position: static;

                /*Center PC Version*/
                @media (min-width: 1000px) {
                    justify-content: center;
                }

                span {
                    border-bottom: 3px solid #99E2D0;
                }
            }
        }

        .restaurant-menu-item {
            display: flex;
            background-color: white;
            position: relative;
            height: 80px;
            list-style: none;
            border-radius: 20px;
            flex-grow: 1;
            flex-direction: column;
            justify-content: center;
            box-shadow: 2px 2px 7px -2px #353535;
            cursor: pointer;
            margin: 20px auto 10px auto;
            padding: 5px;
            animation: smooth 2000ms backwards;
            animation-delay: 500ms;

            h4 {
                font-size: 15px;
                margin: 20px 0 0 0;
            }

            p {
                margin: 0 13% 20px 0px;
            }

            strong {
                display: flex;
                position: absolute;
                justify-content: space-between;
                justify-content: center;
                align-items: flex-end;
                right: 10px;
                bottom: 3px;
            }

            &:hover {
                strong {
                    right: 16%;
                    transition: 500ms;
                }
                .menu-check {
                    transition: 500ms;
                    width: 15%;
                    height: 100%;
                    right: 0%;
                    top: 0%;
                    transform: scale(1);

                    i {
                        transform: rotate(-720deg);
                        opacity: 1;
                    }
                }
            }

            .menu-check {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                background-color: #99E2D0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                text-align: center;
                color: white;
                flex-direction: column;
                width: 0;

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    background-color: white;
                    color: #99E2D0;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    opacity: 0;
                    font-size: 20px;
                    transition: 700ms;
                    right: 25%;
                    top: 30%;
                }
            }




        }
    }

    .button-commande {
        display: flex;
        justify-content: center;

        button {
            background-image: linear-gradient(to top, #9356DC, #FF79DA);
            font-size: 15px;
            font-weight: bold; 
            color: #ffffff;
            padding: 15px 25px;
            border-radius: 20px 20px 20px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.9;
            transition: 0.5s;
            margin-bottom: 20px;
            box-shadow: 2px 1px 15px -3px #353535;
    
            &:hover {
                opacity: 1;
                transform: scale(1.03);
            }   
        }

    }
}