.fontionnement {
    margin-bottom: 20px;

    ol {
        display: flex;
        gap: 20px;
        border: 1px solid red;
        margin: 20px;
    }

    li {
        display: flex;
        align-items: center;
        border-radius: 20px;
        box-shadow: 2px 2px 7px -2px #464646;
        flex-grow: 1;
        list-style-type: none;
        padding: 15px 25px;
        cursor: pointer;
        transition: 0.5s;
    }

    i {
        margin: 10px;
        color: #7e7e7e;
        font-size: 20px;
    }

    li:hover {
        transform: scale(1.03);
        background-color: #f5edff;
    }

    li:hover i {
        color: #9356DC;
    }
}

@media (max-width: 1000px) {
    .fontionnement ol {
      flex-direction: column;
    }
}