.fontionnement {
    counter-reset: fonctionnement;
    div {
        position: relative;
        max-width: 1200px;
        margin: auto;
    }

    h2 {
        margin-top: 0;
    }

    ol {
        display: flex;
        gap: 20px;
        margin: 20px;

        @media (max-width: 1000px) {
              flex-direction: column;
        }
    }

    li {
        display: flex;
        position: relative;
        list-style: none;
        align-items: center;
        border-radius: 20px;
        box-shadow: 2px 2px 7px -2px #353535;
        flex-grow: 1;
        padding: 15px 25px;
        cursor: pointer;
        transition: 0.5s;

        &::before {
            content: counter(fonctionnement);
            counter-increment: fonctionnement;
            background-color: #9356DC;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -10px;
            color: white;
        }

        & i {
            margin: 10px;
            color: #7e7e7e;
            font-size: 20px;
        }

        &:hover {
            transform: scale(1.03);
            background-color: #f5edff;
        }

        &:hover i {
            color: #9356DC;
        }
    }
}