/*Gestion Header Global*/
header {
    font-family: "Shrikhand", cursive;
    text-align: center;
    border-bottom: 3px solid #cfcfcf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    /*Gestion Lien ( Page des restaurants, flèche retour )*/
    a {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10%;
    }
}
