.ville {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    max-height: 60px;

    i {
        font-size: 25px;
    }
    h2 {
        font-size: 15px;
    }
}