/*Gestion Ville Global*/
.ville {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    max-height: 60px;

    /*Gestion Icon FontAwesome*/
    i {
        font-size: 25px;
    }

    /*Gestion Titre*/
    h2 {
        font-size: 15px;
    }
}